* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #222;
    color: white;
}

.logo {
    font-size: 26px;
    color: #ff9800;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.cart {
    background: #ff9800;
    padding: 5px 12px;
    border-radius: 20px;
}

/* Hero */
.hero {
    background: linear-gradient(to right, #ff9800, #ff5722);
    color: white;
    text-align: center;
    padding: 80px 20px;
/*Important*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero button {
    margin-top: 20px;
    padding: 12px 25px;
    border: 3px solid black;
    background: white;
    color: #ff5722;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

/* Products */
.products {
    padding: 50px;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 30px;
}

.product-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.product-card img {
    width: 100%;
}

.product-card button {
    margin-top: 10px;
    padding: 8px 15px;
    background: #ff5722;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}